In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## EstimatedSalary----Output Feature

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')

geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
(X_train.shape[1],)

(12,)

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

d:\My_Work\UdeMy\MyCompleteDataScience\ANN_Classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [15]:
## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [17]:
# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [19]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 10s 17ms/step - loss: 100117.8750 - mae: 100117.8750 - val_loss: 98444.2734 - val_mae: 98444.2734
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 100518.3750 - mae: 100518.3750 - val_loss: 96499.9297 - val_mae: 96499.9297
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 96438.1875 - mae: 96438.1875 - val_loss: 91653.1406 - val_mae: 91653.1406
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 91550.7812 - mae: 91550.7812 - val_loss: 83808.8828 - val_mae: 83808.8828
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 82130.2031 - mae: 82130.2031 - val_loss: 74286.9375 - val_mae: 74286.9375
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 72606.1250 - mae: 72606.1250 - val_loss: 65144.2266 - val_mae: 65144.2266
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 63944.1055 - mae: 63944.1055 - val_loss: 57993.0742 - val_mae: 57993.0742
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 56998.4570 - mae: 56998.4570 - val_loss: 53793.7812 - val_mae: 53793.7812
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 53219.9219 - mae: 53219.9219 - val_loss: 51847.8516 - val_mae: 51847.8516
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50767.0820 - mae: 50767.0820 - val_loss: 51221.3008 - val_mae: 51221.3008
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50527.5430 - mae: 50527.5430 - val_loss: 51014.8398 - val_mae: 51014.8398
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50155.1484 - mae: 50155.1484 - val_loss: 50941.2422 - val_mae: 50941.2422
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50750.4961 - mae: 50750.4961 - val_loss: 50883.2461 - val_mae: 50883.2461
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49900.1211 - mae: 49900.1211 - val_loss: 50835.2773 - val_mae: 50835.2773
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50194.0859 - mae: 50194.0859 - val_loss: 50786.8867 - val_mae: 50786.8867
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49829.0625 - mae: 49829.0625 - val_loss: 50743.2656 - val_mae: 50743.2656
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 8s 33ms/step - loss: 50346.3750 - mae: 50346.3750 - val_loss: 50706.7383 - val_mae: 50706.7383
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - loss: 49898.7109 - mae: 49898.7109 - val_loss: 50681.5000 - val_mae: 50681.5000
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 50111.9297 - mae: 50111.9297 - val_loss: 50654.9414 - val_mae: 50654.9414
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49400.1055 - mae: 49400.1055 - val_loss: 50642.8125 - val_mae: 50642.8125
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - loss: 49848.7617 - mae: 49848.7617 - val_loss: 50610.6914 - val_mae: 50610.6914
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49850.2109 - mae: 49850.2109 - val_loss: 50592.5156 - val_mae: 50592.5156
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49815.1875 - mae: 49815.1875 - val_loss: 50571.5664 - val_mae: 50571.5664
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 50056.3672 - mae: 50056.3672 - val_loss: 50549.6445 - val_mae: 50549.6445
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 25ms/step - loss: 49703.3438 - mae: 49703.3438 - val_loss: 50531.6797 - val_mae: 50531.6797
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49708.8164 - mae: 49708.8164 - val_loss: 50523.5625 - val_mae: 50523.5625
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49877.0117 - mae: 49877.0117 - val_loss: 50508.7773 - val_mae: 50508.7773
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 23ms/step - loss: 50122.0586 - mae: 50122.0586 - val_loss: 50493.4609 - val_mae: 50493.4609
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50035.0039 - mae: 50035.0039 - val_loss: 50480.7070 - val_mae: 50480.7070
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49993.7305 - mae: 49993.7305 - val_loss: 50478.6133 - val_mae: 50478.6133
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49535.4492 - mae: 49535.4492 - val_loss: 50456.9844 - val_mae: 50456.9844
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 49741.3438 - mae: 49741.3438 - val_loss: 50450.5195 - val_mae: 50450.5195
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 50041.4180 - mae: 50041.4180 - val_loss: 50449.5703 - val_mae: 50449.5703
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49215.0508 - mae: 49215.0508 - val_loss: 50435.1875 - val_mae: 50435.1875
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 50353.5938 - mae: 50353.5938 - val_loss: 50424.0938 - val_mae: 50424.0938
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49969.6445 - mae: 49969.6445 - val_loss: 50405.7188 - val_mae: 50405.7188
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49287.0430 - mae: 49287.0430 - val_loss: 50404.8164 - val_mae: 50404.8164
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49245.9844 - mae: 49245.9844 - val_loss: 50403.0000 - val_mae: 50403.0000
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49130.8242 - mae: 49130.8242 - val_loss: 50391.4648 - val_mae: 50391.4648
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 20ms/step - loss: 49575.5977 - mae: 49575.5977 - val_loss: 50384.8320 - val_mae: 50384.8320
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 20ms/step - loss: 49135.6211 - mae: 49135.6211 - val_loss: 50365.9258 - val_mae: 50365.9258
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49856.2422 - mae: 49856.2422 - val_loss: 50367.2188 - val_mae: 50367.2188
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49313.8086 - mae: 49313.8086 - val_loss: 50363.2422 - val_mae: 50363.2422
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49644.1836 - mae: 49644.1836 - val_loss: 50365.8828 - val_mae: 50365.8828
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49165.1211 - mae: 49165.1211 - val_loss: 50366.6445 - val_mae: 50366.6445
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49419.3672 - mae: 49419.3672 - val_loss: 50353.3438 - val_mae: 50353.3438
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49839.3281 - mae: 49839.3281 - val_loss: 50359.0469 - val_mae: 50359.0469
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49605.8906 - mae: 49605.8906 - val_loss: 50360.8828 - val_mae: 50360.8828
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 48759.4570 - mae: 48759.4570 - val_loss: 50350.4805 - val_mae: 50350.4805
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49314.4180 - mae: 49314.4180 - val_loss: 50359.1484 - val_mae: 50359.1484
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49956.1328 - mae: 49956.1328 - val_loss: 50349.9922 - val_mae: 50349.9922
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49423.5469 - mae: 49423.5469 - val_loss: 50344.4336 - val_mae: 50344.4336
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - loss: 49335.6797 - mae: 49335.6797 - val_loss: 50353.4570 - val_mae: 50353.4570
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - loss: 49493.8789 - mae: 49493.8789 - val_loss: 50347.5195 - val_mae: 50347.5195
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 23ms/step - loss: 49752.5820 - mae: 49752.5820 - val_loss: 50347.2734 - val_mae: 50347.2734
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 48778.0664 - mae: 48778.0664 - val_loss: 50352.1328 - val_mae: 50352.1328
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 17ms/step - loss: 49617.4297 - mae: 49617.4297 - val_loss: 50335.7266 - val_mae: 50335.7266
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49262.0742 - mae: 49262.0742 - val_loss: 50348.6602 - val_mae: 50348.6602
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 25ms/step - loss: 49342.7305 - mae: 49342.7305 - val_loss: 50346.7422 - val_mae: 50346.7422
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 49272.2969 - mae: 49272.2969 - val_loss: 50343.6367 - val_mae: 50343.6367
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - loss: 48991.9844 - mae: 48991.9844 - val_loss: 50336.0898 - val_mae: 50336.0898
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 49477.3008 - mae: 49477.3008 - val_loss: 50345.1562 - val_mae: 50345.1562
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 48848.3477 - mae: 48848.3477 - val_loss: 50347.3398 - val_mae: 50347.3398
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49807.3711 - mae: 49807.3711 - val_loss: 50349.9688 - val_mae: 50349.9688
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 19ms/step - loss: 50272.2539 - mae: 50272.2539 - val_loss: 50352.9219 - val_mae: 50352.9219
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 49352.8086 - mae: 49352.8086 - val_loss: 50345.1523 - val_mae: 50345.1523
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49468.2891 - mae: 49468.2891 - val_loss: 50343.0898 - val_mae: 50343.0898

In [20]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit --port 2525

In [24]:
## Evaluate MOdel on the Test Data

Test_Loss, Test_MAE =  model.evaluate(X_test,y_test)
print(f'Test MAE: --', Test_MAE)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 51151.6602 - mae: 51151.6602
Test MAE: -- 50335.7265625

In [25]:
model.save('Regression_Model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.